<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>

    <header class="mainheader">
            <div class=" container mainheader__container">
                <a href="/">
                    <img class="mainheader__logo" src="/images/malibulogo.png" alt="logo malibu">
                </a>
                <nav class="mainheader__mainnav">
                    <div class="mainheader__nav">
                        <a href="/" class="mainheader__link">Home</a>
                        <a href="/tienda" class="mainheader__link mainheader__link--select">Tienda</a>
                        <a href="#" class="mainheader__link">Quiénes somos</a>
                        <a href="#" class="mainheader__link">Contáctanos</a>
                    </div>
                </nav>
                <div class="mainheader__searchShop">
                    <a href="/checkout">
                        <img class="mainheader__shop" src="/images/shop.png" alt="comprar">
                    </a>
                    <div class="mainheader__cart">
                        <a href="/checkout" class="mainheader__link">
                        <button class="mainheader__added">
                        <h1 class="mainheader__num"><strong>0</strong></h1>
                        </a>
                    </button>
                    </div>
                    

                </div>
    </header>
    
   {{{ body }}} 

   <footer class="mainfooter">
            <div class="container mainfooter__container">
                <div class="mainfooter__socialMedia">
                    <a href="#">
                        <img class="mainfooter__malibu" src="/images/malibu.png" alt="malibu">
                    </a>
                    <div class="mainfooter__logos">
                        <a href="#">
                            <img class="mainfooter__redes" src="/images/instagram.png" alt="instagram">
                        </a>
                        <a href="#">
                            <img class="mainfooter__redes" src="/images/facebook.png" alt="facebook">
                        </a>
                        <a href="#">
                            <img class="mainfooter__redes" src="/images/google.png" alt="google">
                        </a>
                    </div>
                </div>

                <div class="mainfooter__information">
                    <a href="#" class="mainfooter__links"><strong>Links</strong></a>
                    <br>
                    <a href="#" class="mainfooter__links">Home</a>
                    <br>
                    <a href="#" class="mainfooter__links">Tienda</a>
                    <br>
                    <a href="#" class="mainfooter__links">Quiénes somos</a>
                </div>
                <hr>
                <div class="mainfooter__information">
                    <a href="#" class="mainfooter__links"><strong>Otros links</strong></a>
                    <br>
                    <a href="#" class="mainfooter__links">Términos y condiciones</a>
                    <br>
                    <a href="#" class="mainfooter__links">Política y privacidad</a>
                    <br>
                    <a href="#" class="mainfooter__links">Mostrar mapa</a>
                </div>
                <hr>
                <div class="mainfooter__information">
                    <a href="#" class="mainfooter__links"><strong>Contáctanos</strong></a>
                    <br>
                    <a href="#" class="mainfooter__links">Ubicación:Cl. 18 #122-135</a>
                    <br>
                    <a href="#" class="mainfooter__links">Teléfono: 367-058-45-21</a>
                </div>


            </div>

        </footer>
<script src="/scripts/cart.js"></script>
</body>
</html>