<div class="checkout__container">
    <h1 class="checkout__title">Carro de compras
    </h1>
    <div class="checkout__productinfo">
        <p class="checkout__titleproduct">
            <strong>Producto</strong>
        </p>
        <p class="checkout__titleprice">
            <strong>Precio</strong>
        </p>
    </div>
     {{!-- <div class="checkout__product">
             <div class="checkout__info">
                <div class="checkout__imgname">
                    <div class="checkout__productimage">
                        <img class="checkout__image" src="/images/products/jugofresa.png" alt="jugo">
                    </div>
                    <div class="checkout__productname">
                        <p><strong>Jugo</strong></p>
                    </div>
                </div>
                <div class="checkout__productprice">
                    <p><strong>$ 7000</strong></p>
                </div>

            </div> 
        </div>  --}}
        <footer class="checkout__footer">
    <button class="checkout__button">
        <p><strong>Proceder al pago</strong></p>
    </button>
</footer>
</div>

