<div class="product">
    <header class="product__header">
        <a href="#">
            <img class="product__image" src="{{ img }}" alt="{{ name }}">
        </a>
    </header>

    <section class="product__section">
        <p class="product__name">{{ name }}</p>
        <p class="product__price">
           <strong>$ {{ price }}</strong>
        </p>
    </section>

    <footer class="product__footer">
        <button class="product__button">
           <strong>Agregar</strong> 
        </button>
    </footer>
</div>