.store__sort{
position: absolute;
  right:0;
  margin:15px 0 ;
  margin-right: 24px;
}

.store__filter{
    display: flex;
    flex-direction: column;
}

.store__filtercontainer{
    width: 200px;
    height: 300px;
    
}

.store__products{
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 130px;
}

.store__section{
    display: flex;
    flex-direction: row;
}

.store__header{
    display: flex;
    

}

.store{
    margin-left: 30px;
    

}

.store__price{
    border-radius: 5px;
    border-style: none;
    padding: 0 10px;
    height:30px ;

}

.store__sortcontainer{
    border-radius: 5px;
    border-style: none;
    padding: 0 10px;
    margin-top: 20px;
    height:30px ;
}


