$breakpoint-sm: 700px;
$primary-color: #FAAA0C;
$primary-font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$second-font-family:"piedra";
$font-size: 16px;
@font-face{
font-family: piedra;
src: url("../recursos/Piedra-Regular.ttf");
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html{
    margin: 0px;
    font-family: $primary-font-family;
    font-size: $font-size;
}

.container{
  max-width:100%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px 8px;
}

a{
 text-decoration: none;
}

input{
  outline:none;
}

button{
  outline:none;
}



@import 'mainheader';
@import 'mainbanner';
@import 'mainfooter';
@import 'mainpublicity';
@import 'mainvideo';
@import 'mainfeature';
@import 'mainsubscribe';
@import 'mainproducts';
@import 'mainnutrition';
@import 'maingalery';
@import 'mainunit';
@import 'mainstore';







